body{
  background-color: #364156 ;
}

h3{
  font-family: 'Shanti', sans-serif;
  ;
  color: #F2F4F7;
}
h1,
h2{
  font-family: 'Sigmar One', cursive;
  color: #8A919C;
}

.resume-container {
  padding: 110px 0px 0px 0px;
  display: block;
  margin:auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.pdf-import {
height: 36vw;
width: 60vw;

}
.download-text {
font-size: 24px;
color: #28282B;
margin-top: 10px;
}

.resume-downloads {
margin-top: 5px;
display: flex;
flex-direction: row;
cursor: pointer;
color: #28282B;
}

.pdf-wrapper {
border: none;
text-align: center;
border-radius: 2px;
margin-right: 6px;
font-size: 14px;
height: 100%;
width: 65px;
background-color: #9bc1d6;
color: #28282B;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.pdf-wrapper:hover {
opacity: 0.6;
background-color: white;
}
.pdf-download {
padding: 3px;
display: flex;
flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

